<head>
    <title>Programador Viking | Rodapé Branco Básico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./footer.component.css">
</head>
    <footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="">Informações da Empresa</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Cursos</a></li>
            </ul>
            <p class="footer-copyright">© 2021 Copyrightt - Social de Heróis</p>
        </div>
        <div class="footer-social">
            <a href="https://facebook.com/" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/" class="social-icons"><i class="fa fa-instagram"></i></a>
            <a href="https://youtube.com/" class="social-icons"><i class="fa fa-youtube"></i></a>
            <a href="https://twitter.com/" class="social-icons"><i class="fa fa-twitter"></i></a>
        </div>
    </footer>

