<div class="container">
    <h2 class="mt-3 mb-3">Entre em contato conosco</h2>
    <form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="nome" class="form-control" id="email" aria-describedby="emailHelp">
      <div id="nomeHelp" class="form-text">Escreva seu nome</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Endereço de e-mail</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Escreva seu e-mail</div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Sugestões de melhoria do blog</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <div id="emailHelp" class="form-text">Mensagem de sugestão</div>
      </div>
    <button type="enviar" class="btn btn-secondary d-flex justify-content-center" routerLink='/home'>Enviar</button>
  </form>
</div>
